<div class="mt-4"> {{! đẩy xuống}}
    <form method="POST", action="">  {{! method là submit ở phương thức nào, action là submit ở cái URL nào }}
        <div class="form-group"> 
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa..."> {{! placeholder: dòng chữ bên trong ô input }}
        </div>
        <div class="form-group"> 
            <label for="gender-input">Từ khóa</label>
            <select name="gender" class="form-control" id="gender-input">    {{! placeholder: dòng chữ bên trong ô input }}
                <option value="">-- Chọn giới tính --</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
             </select>      
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>