<div class="mt-4"> {{! đẩy xuống}}
    <form method="GET", action="/news">  {{! method là submit ở phương thức nào, action là submit ở cái URL nào }}
        <div class="form-group"> 
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa..."> {{! placeholder: dòng chữ bên trong ô input }}
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>